body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz.wd-main-content-offset {
    padding-left: 140px !important;
  }
}

/* Override Bootstrap classes for Course Navigation active item */
.list-group.wd > .list-group-item.active {
  color: black !important;
  background-color: white !important;
  border-left: 3px solid black !important;
}

/* Override Bootstrap btn-secondary and bg-secondary classes */
.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #6c757d !important;
  --bs-btn-hover-border-color: #6c757d !important;
}

.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209 !important;
}

.list-group-item {
  --bs-list-group-border-color: gray !important;
}

.wd-lesson {
  border-left: 3px solid green !important;
}
